/sesiones/ConceptosBasicos/nbproject/private/
/sesiones/ConceptosBasicos/build/
/sesiones/ReutilizacionDeCodigo/dist/
/tareas/JavaApplication10/nbproject/private/
/tareas/JavaApplication10/build/
/tareas/ProyectoLibro/nbproject/private/
/tareas/ProyectoLibro/build/
/tareas/ProyectoLibro/dist/
